@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Jost:wght@400;600;700&family=Public+Sans&family=Roboto:wght@400;500;700&display=swap');
:root {
  --primary: #35c280;
  --white: #fff;
  --light: #dce1eb;
  --dark: #1f1f1f;
  --semi-dark: #363949;
  --text: #585858;
  --background: #f6f6f9;
  --box-shadow: var(--light) 0px 4px 12px;
  --bor-rad: 10px;
}

/************ Dark Theme Varables ************/
.dark-theme {
  --white: #202528;
  --light: rgba(0, 0, 0, .4);
  --dark: #edeffd;
  --background: #293241;
  --semi-dark: #a3bdcc;
  --text: #e1e1e1;
  --box-shadow: var(--light) 0px 4px 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

/* .container{
  width: 95%;
  margin: 0 auto;
} */

a{
  text-decoration: unset;
  color: unset;
}
ul li{
  list-style: none;
}
#app{position: relative;}